body
{
    grid: display;
    place-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;   
    background-color: #222222;
    color: white;
    user-select: none;
}

.main
{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 200px;
    margin-top: 200px;
}
.upgrade
{
    display: flex;
    align-items: center;
}
.left h3 
{
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
}

#z-img
{
    padding: 0;
    margin: 0;
    font-size: 256px;
}

.item
{
    display: flex;
    justify-content: space-between;
}

.item p 
{
    margin: 5px;
}